<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 class="home-title">MBTA Reviews</h1>
        <h2 class="header2">A website to review each subway line on the MBTA</h2>
        
        <ul class="subway-links">
            <li><a href="/subway/Red">Red Line</a></li>
            <li><a href="/subway/Green">Green Line</a></li>
            <li><a href="/subway/Orange">Orange Line</a></li>
            <li><a href="/subway/Blue">Blue Line</a></li>
        </ul>
    </body>
</html>
