<!DOCTYPE html>
<html>
    <head>
        <title>MBTA Reviews</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav>
            <a class="home-link" href="/">Home</a>
        </nav>
        {{{body}}}
    </body>
</html>
